* {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900i&display=swap');

body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}
body {
  will-change: transform;
}

.canvas > div {
  z-index: 1;
}


body {
  overscroll-behavior-y: none;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial,
    sans-serif;
}

.scroll-container {
  position: absolute;
  z-index: 1;
  top: 0px;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;

}

.project-container {
  position: absolute;
  z-index: 1;
  top: 0px;
  width: 100%;
  height: 100vh;

}

li {
  padding: 10px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: small;
}

.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.scrollDown {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 80px;
  left: 0px;
  width: 100%;
  background: rgba(0,0,0,0);
}

.loading-bar-container {
  width: 200px;
  height: 3px;
  background: #dbdbdb;
}

.loading-bar {
  height: 5px;
  background: #494c7a;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #494c7a;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #494c7a;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}